<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058846965158-g6k8fv2atj9fscvj1f1qpkta9sek85dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058846965158-g6k8fv2atj9fscvj1f1qpkta9sek85dc</string>
	<key>API_KEY</key>
	<string>AIzaSyB2cM0LIC2F2Krn6xWIuhIzU1QkvG7QxM0</string>
	<key>GCM_SENDER_ID</key>
	<string>1058846965158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.imake</string>
	<key>PROJECT_ID</key>
	<string>imake-b18ed</string>
	<key>STORAGE_BUCKET</key>
	<string>imake-b18ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058846965158:ios:58178f9713a6c73495e367</string>
	<key>DATABASE_URL</key>
	<string>https://imake-b18ed-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>